.block {
    display: block;
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    page-break-inside: avoid;
    margin: 0 0 12pt;
    padding: 0
    }
.block1 {
    display: block;
    line-height: 15pt;
    margin: 0 0 6pt;
    padding: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.2;
    text-decoration: none
    }
.text {
    color: #858700;
    font-weight: bold;
    line-height: 1.2
    }
.text1 {
    color: #858700;
    text-decoration: none
    }
.text2 {
    color: #F00;
    font-weight: bold
    }
